{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
<section class="about-section vertical-layout">
    <h2>Tentang Kami</h2>
        <img src="{{ url_for('static', filename='img/LOGOnew.png') }}" alt="Tentang GeprekMantap">
   
    <p>
        NAMA adalah rumah bagi pecinta ayam geprek dengan sensasi pedas yang luar biasa. 
        Kami menyajikan ayam geprek dengan berbagai level kepedasan, dari yang ramah lidah sampai yang bikin kamu berkeringat!
    </p>
    <p>
        Didirikan sejak 2024, kami berkomitmen memberikan rasa terbaik, bahan berkualitas, dan pelayanan ramah 
        demi pengalaman makan yang tak terlupakan. Kami percaya bahwa makanan enak tidak harus mahal!
    </p>
</section>
{% endblock %}
