<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <title>Chicken Geprek D3'L</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{{ url_for('static', filename='img/LOGOnew.png') }}" type="image/png">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='img/LOGOnew.png') }}" alt="Logo" class="navbar-logo">
                    Chicken Geprek <span>D3'L</span>
                </a>
            </div>
            <ul class="nav-links">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('menu') }}">Menu</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('location') }}">Location</a></li>
                <!-- <li><a href="{{ url_for('contact') }}">Contact</a></li> -->
                <li class="cart-icon">
                    <a href="{{ url_for('cart') }}">
                        <i class="fa fa-shopping-cart"></i>
                        {% if session.cart %}
                        {% set total_items = session.cart | sum(attribute='qty') %}
                        <span class="cart-count">{{ total_items }}</span>
                        {% endif %}
                    </a>
                </li>
                <li class="admin-icon">
                    <a href="{{ url_for('login') }}">
                        <i class="fa fa-user"></i>
                    </a>
                </li>
            </ul>

        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2025 ChikckenGeprekD3L. All rights reserved.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
